/* Navigation kleiner Bildschirm formatieren */
#navigation-klein {
background-color: #49396E;
color: white;
}

/* Navigation grosser Bildschirm und Footer formatieren */
#fo-he {
  background-color: #49396E;
  color: white;
  }

/* Titel 1 formatieren */
h1 {
letter-spacing: 5px;
}

/* Titel 2 formatieren */
h2 {
  letter-spacing: 5px;
  }

/* Button im file spiel.php formatieren */
#button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: lightgray;
  text-decoration: none;
}

/* Abstand nach "Hilfestellung" verkleinern*/
#hilfestellung {
  padding-bottom: 10px !important;
}

div>img {
border-color: black;
border-style: solid;
}

/* Label zu Formular Feldern */
.col-20 {
  float: left;
  width: 20%;
  margin-top: 8px;
}

/* Formular Felder */
.col-80 {
  float: left;
  width: 80%;
  margin-top: 8px;
}

/* Anzeige Formular kleiner Bildschirm */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Formular Hintergrund */
fieldset {
  background: #7C69A26E;
  margin-left: 5px;
  margin-bottom: 15px;
}